
.button {
  background-color: rgb(183, 224, 224);
  width: 600px;
  padding: 0.7rem;
  border-radius: 0.6em;
  font-weight: bold;
}





.button:hover {
background: linear-gradient( #002E47 0%, #64BCE6 100%);
}


