:root {
  --bg-fundo: #f2f2f2;
  --borda-direita-baixo: 1px solid #ddd;
}







.content {

background-color: #002E47;
  color: #F7834A;
/* color: #64BCE6; */
display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: red; */
  font-family: Arial, Helvetica, sans-serif;
  /* border-radius: 1.6rem; */


}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 2rem ; */
  font-family: Arial, Helvetica, sans-serif;
  /* margin-bottom: 3rem; */
  padding-bottom: 3rem;
}

.formularyVideo {
  /* width: 600px; */
  border-radius: 1.6em;

}

.area,label {

  margin-bottom: 10px;
  /* margin-right: 10rem; */
}

.fieldName, .fieldVideoUrl, .fieldDuration {
  width: 545px;
  height: 8px;
  padding: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin-bottom: 10px;
}









