:root {
  --bg-fundo: #f2f2f2;
  --borda-direita-baixo: 1px solid #ddd;
}







.content {

background-color: #002E47;
  color: #F7834A;
/* color: #64BCE6; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: red; */
  font-family: Arial, Helvetica, sans-serif;
  /* border-radius: 1.6rem; */


}
.content {
  /* padding-left: 2rem ; */
  font-family: Arial, Helvetica, sans-serif;
  /* margin-bottom: 3rem; */
  padding-bottom: 3rem;
  /* padding-bottom: 2.5rem; */
}

.formularyVideo {
  width: 450px;
  /* border-radius: 1.5em; */
  border-radius: 1.6em;

}









.entrada {
  width: 98%;
  padding: 0.7rem 1.1rem;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#situacao, #sexo, #raca {
  font-size: 15px;
  padding: 5px;
}
